h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 0.5em;
    font-weight: 700;
}


.container {
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: rgba(255, 255, 255, 0.932);
    padding: 1em;
    border-radius: 1em;
    max-width: 768px;
    display: -ms-grid;
    display: grid;
    place-items: center;
    -webkit-box-shadow: 5px 17px 34px 20px rgba(255, 255, 0, 0.582);
            box-shadow: 0px 27px 34px 10px rgba(255, 255, 0, 0.582);
    
}

button{
    margin-top: 20px;
    margin-left: 40%;
    background-color: #F2B410;
    color: black;
    font-weight: bold;
}

button:hover{
    background-color: #d3a62c;   
}