h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 0.5em;
    font-weight: 700;
}


.container {
    margin-bottom: 200px;
    background-color: #fff;
    padding: 1em;
    border-radius: 1em;
    max-width: 768px;
    display: -ms-grid;
    display: grid;
    place-items: center;
    -webkit-box-shadow: 5px 17px 34px 20px rgba(255, 255, 0, 0.582);
            box-shadow: 0px 27px 34px 10px rgba(255, 255, 0, 0.582);
    
}

button{
    margin-top: 20px;
    margin-left: 40%;
    background-color: #42b72a;
    color: black;
    font-weight: bold;
}

button:hover{
    background-color: #45a332;      
}

.day{
    border-radius: 4px;
    color: #1c1e21;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: normal;
    height: 36px;
    width: 30%;
    line-height: 20px;
}

.genre{
    margin-top: 10px;
}

.date{

    margin-bottom: 10px;

}