
<div class="container mt-5 mb-5">
    <h1>S’inscrire</h1>
    
    <form class="col-lg-8">
        <div class="row">
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Eprenom" >
            </div>
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Nom " >
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Email ou numero de mobile " >
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Nouveau mot de passe" >
            </div>
            
            <label>
                <p class="genre">Genre :             
                <input type="radio" checked="checked" name="remember" style="margin-bottom:15px"> Homme
                <input type="radio" checked="checked" name="remember" style="margin-bottom:15px"> Femme
            </p></label>
            
            <form action="https://example.com" class="date">
                <label>
                  Veuillez saisir votre date de naissance :
                  <input type="date" name="bday">
                </label>
              </form>
              

            <label>
                <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
              </label>
            <div class="col-lg-12">
                <button class="btn btn-md "> S’inscrire </button>
            </div>
            


        </div>
    </form>
</div>