<body>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suscribe</title>
    
</head>
<body>
    <section class="wrapper">
        <div class="container">
            <div class="img__container">
            <img src="https://images.unsplash.com/photo-1546793665-c74683f339c1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="salad" class="img"> 
        </div>   
            <div class="content">
                <h2 class="subtitle">Inscrire</h2>
                <h1 class="title">Ne manquez jamais une recette</h1>
                <input type="text" class="mail" placeholder=" Your email address" name="mail" required>
                <input type="text" class="mail" placeholder=" Mot de passe" name="mot de passe" required>
                <input type="submit" value="Inscrire" class="subscribe">
                <p class="text">Nous ne vous enverrons pas de spam. Désabonnez-vous à tout moment.</p>
                <a routerLink="/creation" class="creation"> Créer un compte </a>            
            </div>
        </div>
    </section>
</body>

</body>